/* barlow-600 - latin */
@font-face {
    font-family: "Barlow";
    font-weight: 600;
    font-display: swap;
    src: url("/fonts/barlow600.woff2") format("woff2");
  }

/* fraunces-900 - latin */
@font-face {
    font-family: "Fraunces";
    font-weight: 900;
    font-display: swap;
    src: url("/fonts/fraunces900.woff2") format("woff2");
  }